<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <EasyAdmin.Properties.Settings>
            <setting name="TemplateAFIS12" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplateInvoiceWord" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplateInvoiceWordReseller" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplateInvoiceWordDiscount" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveDirAFIS12" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveDirInvoice" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveDirInvoiceReseller" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplateHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="FATHigh" serializeAs="String">
                <value>21.0</value>
            </setting>
            <setting name="FATLow" serializeAs="String">
                <value>6.0</value>
            </setting>
            <setting name="MainFormWindowSize" serializeAs="String">
                <value>1000, 1000</value>
            </setting>
            <setting name="MainFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>30, 10</value>
            </setting>
            <setting name="PDFOutputInvoice" serializeAs="String">
                <value />
            </setting>
            <setting name="DecimalsInvoiceAmount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PDFOutputAFIS" serializeAs="String">
                <value />
            </setting>
            <setting name="InvoiceNoOffset" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InvoiceAmountRemove0s" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailTimeout" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>vandeputbv@online.nl</value>
            </setting>
            <setting name="EmailSMTPServer" serializeAs="String">
                <value>smtp.online.nl</value>
            </setting>
            <setting name="EmailSMTPPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EmailSMTPSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailSMTPUser" serializeAs="String">
                <value>bitankbv@gmail.com</value>
            </setting>
            <setting name="EmailSMTPPassw" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailCCV" serializeAs="String">
                <value>ccvkb@nl.ccv.eu</value>
            </setting>
            <setting name="SaveDirYearSubFolder" serializeAs="String">
                <value>True</value>
            </setting>
        </EasyAdmin.Properties.Settings>
    </userSettings>
</configuration>